.App {
  text-align: center;
}

body {
  background-color: lightgrey !important;
}

body .bg-dark {
  background-color: #212121 !important;
}

.btn-primary {
  background-color: #212121;
  border-color: #212121;
}

.btn-primary:hover {
  background-color: #212121;
  border-color: #212121;
  transform: scale(1.05);
}

.Navigation {
  margin-bottom: 5rem;
}

.jumbotron {
  background-image: url("/images/feed.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 100px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.jumbotron p,
h1 {
  background-color: #ffffff75;
  color: black;
  padding: 50px;
  margin: 0px 0px 16px 0px;
}

.jumbotron p {
  font-size: 1.3rem;
}

.carousel-caption p,
h3 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.carousel-caption h3 {
  font-size: 3rem;
}
.carousel-caption p {
  background-color: #ffffff75;
  font-size: 1.2rem;
  margin: 1rem 0rem 1.5rem 0rem;
  padding: 1.2rem;
}

.modal-header {
  background: black;
  color: white;
}

.carousel-item img {
  border-radius: 20px;
}

.carousel {
  margin-bottom: 5rem;
}

.card {
  margin-bottom: 2.5rem;
  border-radius: 20px 20px 20px 20px;
}
.card img {
  border-radius: 20px 20px 0px 0px;
}
